APP_ENV=local
APP_URL=http://localhost:8000
DB_CONNECTION=mysql
DB_DATABASE=alumni_connect
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=YOUR_PASSWORD_HERE
JWT_SECRET=YOUR_SECRET_KEY_HERE
